body {
  font-family: "IranianSans";
  font-weight: 500;
  font-size: 14px;
  background: url(../images/home-banner.jpg);
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h2,h4,h5 {
  text-align: right;
}

.home_banner_area .banner_inner {
  overflow: hidden;
  width: 100%;
  height: auto;
  padding: 70px 0px 87px 0px;
}

.home_banner_area .banner_inner .banner_content {
  color: #fff;
}

.home_banner_area .banner_inner .banner_content .col-lg-7 {
  vertical-align: middle;
  -ms-flex-item-align: center;
  align-self: center;
  width: 100%;
}

.home_banner_area .banner_inner .banner_content h2 {
  font-size: 50px;
  font-weight: 600;
  padding-bottom: 3%;
}

.home_banner_area .banner_inner .banner_content h4 {
  font-weight: 600;
  padding-bottom: 3%;
}

.home_banner_area .banner_inner .banner_content h5 {
  font-weight: 600;
  padding-bottom: 3%;
}

@media screen and (max-width:768px) {
  .home_banner_area .banner_inner .banner_content h2 {
    font-size: 30px;
  }
  .home_banner_area .banner_inner .banner_content h4 {
    font-size: 17px;
  }
  
  .home_banner_area .banner_inner .banner_content h5 {
    font-size: 15px;
  }
}

.home_banner_area .banner_inner .banner_content .register {
  border: none;
  border-radius: 7px;
  background-color: rgb(64, 186, 202);
  padding: 2% 5% 2% 5%;
  margin-left: 40%;
  color: white;
  font-size: 17px;
  font-weight: 700;
  cursor: pointer;
}

.home_banner_area .banner_inner .banner_content .register:hover {
  background-color: rgb(57, 57, 240);
}

.home_banner_area .banner_inner .banner_content .banner_map_img {
  text-align: right;
  background-color: white;
  border-radius: 5%;
  margin: 10%;
}

@media screen and (max-width:576px) {
  .home_banner_area .banner_inner .banner_content .banner_map_img {
    width: 80%;
    margin-right: 10%;
  }
}

.banner_map_img img{
  padding: 5%;
}


